

body {
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish, sans-serif;
}

.socials-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.socials-row img {
    width: 1.5rem;
    height: 1.5rem;
}

.socials-row > a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    min-height: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: #1F2346;
    border: 1px solid #E1EEF5;
    font-weight: 700;
}

.socials-row > a:hover {
    border: 1px solid #4978F0;
}

.divider {
    display: flex;
    flex-direction: row;
    color: #1D1D1D;
    gap: 1rem;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background-color: #1D1D1D;
    opacity: .2;
}

.login-side {
    padding: 11.75rem 2rem 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
}

.my-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 28.75rem;
    width: 100%;
    padding: 3rem 2rem;
    height: fit-content;
    box-shadow:
            rgba(100, 100, 111, 0.2)
            0rem 6px 26px 0rem;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
}

.login-welcome-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
}

.my-form__button {
    background-color: #4978F0;
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    line-height: 3.125rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    color: #1D1D1D;
    gap: 1rem;
    margin-top: 0.5rem;
}

.my-form__actions a {
    color: #1D1D1D;
    font-weight: 600;
    text-decoration: none;
}

.my-form__actions a:hover {
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    justify-content: space-between;
}

.my-form__signup {
    display: flex;
    justify-content: center;
}

.my-form__signup a {
    color: #4978F0;
    font-weight: 800;
    text-decoration: none;
    font-size: 1.125rem;
}

.my-form__signup a:hover {
    text-decoration: underline;
}

.text-field input {
    color: #1D1D1D;
    font-size: 1rem;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid #1D1D1D;
    height: 3.125rem;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 0.5rem;
    text-indent: 1.25rem;
    margin-top: 0.5rem;
}

.text-field {
    position: relative;
}

.text-field input:focus {
    border: 0.0625rem solid #4978F0;
}

.text-field label {
    color: #1D1D1D;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

